{% extends '_base.html' %}

{% block title %}
About
{% endblock title %}

{% block content %}
<h1>About Our Family Socials</h1>
<p>There are blogs, and there are photo sharing apps. <br>
    <br>Lots of them. <br>
    <br>However, none create the feeling of a photo book on your living
    room coffee table, where your memories are recorded and captioned. <br><br>
    We have made something that we needed: An online collection of personal
    albums, with high res images, captioned, and included with text to tell a
    story of our trips, projects, children, or pets. We wanted to share these
    with our family and close friends. We want them to be able to comment. <br><br> We want
    to see their albums, read their stories. We want this without losing rights over
    our images and stories. We want this without it being cluttered with advertizing, or
    distorted with "influencers" photoshopping and marketing products that
    add little to the stories we want to share. <br><br>
    Instead of taking the free (google, facebook) approach, we want to take the
    paid (netflix) approach, to make this viable.

    It will be free for the first 6 months (no credit card info needed) and then $1/ month after that,
    paid annually.

</p>

{% endblock content %}